@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;600;700&display=swap');

:root {
  --color-main: #f68657;
  --color-text: #383a3f;
  --color-dark: #1f2124;
  --color-gray: #677;
  --color-bg: #f3f6f9;
  --color-light: #acb4bd;
  --color-lighter: #f9f9f9;
  --color-white: #fff;
  --color-border:#e0e3e6;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
  color: inherit;
  font-size: inherit;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style-type: none;
}
body{
  line-height: 1.8em;
  font-weight: 400;
  font-size: 20px;
}
a {
  text-decoration: none;
}

.container {
  width: 100%;
  height: 100vh;
  color: var(--color-text);
  background-color: var(--color-bg);
  display: flex;
  align-items: center;
}

.app {
  width: 100%;
  max-width: 480px;
  height: 95vh;
  margin: 0 auto;
  background-color: var(--color-white);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.05);
  position: relative;
}

.app-header{
  display: flex;
  align-items: center;
  padding: 16px;
  justify-content: space-around;
  background-color: var(--color-lighter);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);

}
.app-header h1 {
  font-size: 30px;
  color: var(--color-dark);
  font-weight: 800;
  text-align: center;
}
.app-header button {
  border: 0;
  background: transparent;
  cursor: pointer;
}
.app-header button > svg {
  fill: var(--color-dark);
  height: 25px;
  width: 25px;
  object-fit: cover;
}





.books-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
}

.books-title,
.books-count {
  color: var(--color-main);
  font-size: 24px;
  font-weight: 600;
}

.books-count {
  font-size: 18px;
  color: var(--color-gray);
}


.books-list {
  padding: 0;
  margin: 16px 0;
  height: 70vh;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
}


.books-list::-webkit-scrollbar {
  display: none;
}

.books-list-item {
  border-bottom: 1px solid  var(--color-border);
  margin-bottom: 12px;
  padding: 8px 16px;
  transition: all 0.2s ease-in-out;
}

.books-list-item:hover {
  background-color: var(--color-bg);
  cursor: pointer;
}

.books-list-item h3,
.books-list-item p span {
  font-weight: 600;
}
.books-list-item p span {
  color: var(--color-gray);
  display: inline-block;
  margin-right: 8px;
}

.books-list-item p {
  font-size: 14px;
  color: var(--color-light);
}


.floating-button {
  font-size: 48px;
  position: absolute;
  bottom: 70px;
  right: 16px;
  background: var(--color-main);
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}


.floating-button > svg {
  fill: var(--color-bg);
}

.book-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-main);
  padding: 10px;
}

.book-header h3 {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.book-header h3 svg {
  fill: var(--color-main);
  width: 20px;
  margin-right: 8px;
}

.book-header button {
  border: none;
  outline: none;
  font-weight: 600;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
}

.book textarea {
  background-color: var(--color-white);
  border: none;
  padding: 16px 12px;
  width: 100%;
  height: 70vh;
  resize: none;
  scrollbar-width: none; /* Firefox */
}

.book textarea:active,
.book textarea:focus {
  outline: none;
  border: none;
}

.book textarea::-webkit-scrollbar {
  display: none;
}
.home {
    height: 88vh;

}
.homeLink {
    display: flex;
    justify-content: center;
    color: rgb(0, 62, 219)
}
.home h1 {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    font-size: 25px;
}

nav {
    display: flex;
    align-items: center;
    padding: 0 30px;
    justify-content: space-between;
    background-color: rgb(0, 84, 56);
    border-bottom: 1px solid rgb(78, 99, 37);

}
footer {
    display: flex;
    min-height: 12vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 84, 56);
    border-bottom: 1px solid rgb(78, 99, 37);
}
.singleBook {
    display: flex;
    justify-content: center;
    height: 100vh;

}
ul {
    display: flex;
}

ul li { 
    padding: 20px;
}
.noteFound, .register, .singleBook{
    height: 100vh;
    background-color: whitesmoke;
}
button {
    background-color: rgb(11, 145, 255);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px;
    border-radius: 5%;
}
button:hover {
    cursor: pointer;
    background-color: rgb(54, 165, 255);
}
.navList, footer h3 {
    color: whitesmoke;

}
.about {
  height: 100vh;
  margin-left: 30px;
}
  
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  min-height: 60vh;
}
.form-input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-button {
  width: 95%;
  padding: 10px;
  margin: 20px 0;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.form-button:hover {
  background-color: #0056b3;
}








.errmsg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}


.Login-Form, .register-Form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
  padding-bottom: 1rem;  
}


.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}
.invalid {
  color: red;
  margin-left: 0.25rem;
}


.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.signInBtn, .signUpBtn {
  background-color: #2eff55;
  margin: 0.3rem;
  color: #333;
  cursor: pointer;
}
.signUpBtn:hover, .signInBtn:hover {
  background-color: #8effa3;
}


.needAccout {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;

}
.needAccout span {
  margin-left: 20px;
  font-size: 1.7rem;
 
  
}

input[type="text"],
input[type="password"],
textarea, button {
font-family: 'Nunito', sans-serif;
font-size: 20px;
padding: 0.25rem;
border-radius: 0.5rem;
width: 50%;
}

.loginDiv, .registerDiv {
  margin-top: 2rem;
  width: 100%;
  height: 100vh;

}

label {
margin-top: 0.5rem;
}


.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.go_book_list {
  color: var(--color-main);
  display: block;
  justify-content: center;
  align-items: center;  
}
.go_book_list_button {
  cursor: pointer;
  background-color: white;
}